pkgbase = serenityos-git
	pkgdesc = The Serenity Operating System 🐞
	pkgver = 1.0_dev
	pkgrel = 1
	url = https://serenityos.org/
	arch = any
	license = BSD
	makedepends = git
	makedepends = gcc11
	makedepends = cmake
	makedepends = curl
	makedepends = mpfr
	makedepends = libmpc
	makedepends = gmp
	makedepends = e2fsprogs
	makedepends = ninja
	makedepends = qemu-desktop
	makedepends = qemu-system-x86
	makedepends = qemu-system-aarch64
	makedepends = ccache
	makedepends = rsync
	makedepends = unzip
	makedepends = texinfo
	optdepends = fuse2fs: building images with root support
	provides = serenityos
	conflicts = serenityos
	source = serenity::git+https://github.com/SerenityOS/serenity.git
	md5sums = SKIP

pkgname = serenityos-git
